#announcement {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(139deg, var(--theme-announcement-1), var(--theme-announcement-2), var(--theme-announcement-3), var(--theme-announcement-4));
    color: var(--theme-announcement-text);
}

#announcement-inner {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    min-height: 0;
    min-width: 0;
}

.announcement-clickable #announcement-inner {
    color: inherit;
    text-decoration: inherit;
}

#announcement-chevron {
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
}
