#announcement {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(139deg, oklch(40.86% 0.115 308.9 / 1), oklch(19.2% 0.114 294.97 / 1), oklch(23.67% 0.101 256.51 / 1), oklch(44.85% 0.087 188.81 / 1));
    color: oklch(100% 0 0 / 1);
}

#announcement-inner {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    min-height: 0;
    min-width: 0;
}

.announcement-clickable #announcement-inner {
    color: inherit;
    text-decoration: inherit;
}

#announcement-chevron {
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
}