@import "./palette.css";
@import "./navigation.css";
@import "./home.css";
@import "./footer.css";
@import "./error.css";
@import "./project.css";
@import "./language.css";
@import "./announcement.css";
@import "./status.css";
@import "./legal.css";

@font-face {
    src: url("https://cdn.equestria.dev/starshine/fonts/font.ttf");
    font-family: "Urbanist";
    font-style: normal;
}

@font-face {
    src: url("https://cdn.equestria.dev/starshine/fonts/font-italic.ttf");
    font-family: "Urbanist";
    font-style: italic;
}

html, body {
    margin: 0;
    font-family: "Urbanist", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--theme-main-bg);
    color: var(--theme-main-text);
}

main {
    margin-top: 58px;
    background-color: var(--theme-main-bg);
    color: var(--theme-main-text);
}

main.with-announcement {
    margin-top: 90px;
}

.container {
    padding: 0 5vw;
}

.container-margin {
    margin: 0 5vw;
}
