@import "./navigation.css";
@import "home.css";
@import "./footer.css";

@font-face {
    src: url("/assets/fonts/font.ttf");
    font-family: "Urbanist";
    font-style: normal;
}

@font-face {
    src: url("/assets/fonts/font-italic.ttf");
    font-family: "Urbanist";
    font-style: italic;
}

html, body {
    margin: 0;
    font-family: "Urbanist", sans-serif;
    scroll-behavior: smooth;
}

main {
    margin-top: 58px;
    background-color: white;
}

.container {
    padding: 0 1vw;
}

.container-margin {
    margin: 0 1vw;
}

@media (min-width: 500px) {
    .container {
        padding: 0 2vw;
    }

    .container-margin {
        margin: 0 2vw;
    }
}

@media (min-width: 700px) {
    .container {
        padding: 0 3vw;
    }

    .container-margin {
        margin: 0 3vw;
    }
}

@media (min-width: 1000px) {
    .container {
        padding: 0 5vw;
    }

    .container-margin {
        margin: 0 5vw;
    }
}