#navbar {
    z-index: 9999;
    border-width: 10px 0 0;
    border-top-style: solid;
    border-image: linear-gradient(139deg, var(--theme-header-1), var(--theme-header-2), var(--theme-header-3), var(--theme-header-4)) 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    user-select: none;
    background-color: var(--theme-main-bg-75);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

#navbar.with-announcement {
    top: 32px;
}

#navbar-container {
    border-bottom: 1px solid var(--theme-main-text-10);
}

#navbar-inner {
    height: 32px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

#navbar-logo-img {
    height: 32px;
}

#navbar-logo {
    flex: min-content;
    display: flex;
}

#navbar-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex: 100%;
    justify-content: right;
}

.navbar-item {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    padding: 5px 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    height: 38px;
}

.navbar-item-inner-desktop {
    display: inline-flex;
    pointer-events: none;
    align-items: center;
}

.navbar-item:hover {
    color: var(--theme-main-text-50);
}

.navbar-item:active {
    color: var(--theme-main-text-25);
}

.navbar-item:nth-child(1) {
    margin-left: 0 !important;
}

.navbar-item:nth-last-child(1) {
    margin-right: 0 !important;
}

.navbar-item-text {
    margin-right: 5px;
}

.navbar-item-closed .navbar-item-icon-open, .navbar-item-open .navbar-item-icon-closed, .navbar-item-inner-mobile {
    display: none;
}

@media (max-width: 1200px) {
    div.navbar-item-menu {
        width: calc(100% / 2);
    }
}

@media (max-width: 768px) {
    .navbar-item-inner-desktop {
        display: none;
    }

    .navbar-item-inner-mobile {
        display: inline-flex;
        pointer-events: none;
        align-items: center;
    }

    div.navbar-item-menu {
        width: 100%;
        border-left-color: transparent;
    }
}

.navbar-item-open, .navbar-item-open:active, .navbar-item-open:hover {
    background-color: var(--theme-btn-hover);
    color: var(--theme-main-bg);
}

.navbar-item-menu-container {
    height: 100vh;
    position: fixed;
    top: 48px;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--theme-menu-bg);
    display: none;
}

.navbar-item-open .navbar-item-menu-container {
    display: flex;
    justify-content: right;
    cursor: initial;
    color: var(--theme-main-text);
}

.navbar-item-menu {
    height: max-content;
    padding: 20px;
    background: var(--theme-main-bg);
    border: 1px solid var(--theme-btn-hover);
    box-shadow: -10px 10px 30px 1px var(--theme-menu-shadow);
    width: calc(100% / 3);
    border-right-color: transparent;
}

.navbar-projects-flagships {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-bottom: 20px;
}

.navbar-projects-other {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 0;
    margin-bottom: 20px;
    grid-gap: 5px;
}

.navbar-projects-archive {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    padding: 20px;
    color: var(--theme-main-text);
    text-decoration: none;
}

.navbar-projects-archive:hover {
    background-color: var(--theme-btn-hover);
    color: var(--theme-main-bg);
}

.navbar-projects-archive:active {
    background-color: var(--theme-btn-active);
}

.navbar-projects-archive-hr {
    margin-bottom: 0;
}

.navbar-projects-archive-text {
    margin-right: 5px;
}

.navbar-projects-other-item {
    color: var(--theme-main-text-75);
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 100%;
    min-height: 0;
    min-width: 0;
}

.navbar-projects-other-item:hover, .navbar-notices-version-link:hover {
    color: var(--theme-main-text-50);
}

.navbar-projects-other-item:active, .navbar-notices-version-link:active {
    color: var(--theme-main-text-30);
}

hr {
    border-style: solid;
    border-bottom: none;
    border-color: var(--theme-main-text-25);
}

.navbar-projects-flagship-icon {
    width: 48px;
    height: 48px;
    background-color: var(--theme-main-text-10);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-projects-flagship-name {
    text-align: center;
    display: block;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 100%;
    min-height: 0;
    min-width: 0;
}

.navbar-projects-flagship {
    padding: 5px;
    color: inherit;
    text-decoration: inherit;
}

.navbar-projects-flagship:hover {
    background-color: var(--theme-main-text-10);
    border-radius: 5px;
}

.navbar-projects-flagship:active {
    background-color: var(--theme-main-text-25);
    border-radius: 5px;
}

.navbar-legal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.navbar-network, .navbar-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.navbar-notices {
    margin-top: 20px;
}

.navbar-legal-item, .navbar-network-item, .navbar-contact-item {
    color: var(--theme-main-text);
    text-decoration: none;
    display: flex;
    border: 1px solid var(--theme-main-text-10);
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar-legal-item:hover, .navbar-network-item:hover, .navbar-contact-item:hover {
    background-color: var(--theme-main-text-05);
}

.navbar-legal-item:active, .navbar-network-item:active, .navbar-contact-item:active {
    background-color: var(--theme-main-text-10);
}

.navbar-legal-item-text, .navbar-network-item-text, .navbar-contact-item-text {
    margin-left: 5px;
}

@media (max-width: 1350px) {
    .navbar-legal-item-text-large, .navbar-network-item-text-large, .navbar-contact-item-text-large {
        display: none;
    }
}

@media (max-width: 1200px) {
    .navbar-legal-item-text-large, .navbar-network-item-text-large, .navbar-contact-item-text-large {
        display: inline;
    }
}

@media (max-width: 850px) {
    .navbar-legal-item-text-large, .navbar-network-item-text-large, .navbar-contact-item-text-large {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-legal-item-text-large, .navbar-network-item-text-large, .navbar-contact-item-text-large {
        display: inline;
    }
}

@media (max-width: 500px) {
    .navbar-legal-item-text-large, .navbar-network-item-text-large, .navbar-contact-item-text-large {
        display: none;
    }
}

.navbar-notices-version {
    margin-bottom: 10px;
}

.navbar-notices-version-link {
    color: var(--theme-main-text-75);
}

.navbar-status:hover, .navbar-email:hover {
    background-color: oklch(var(--status-color) / .25);
}

.navbar-status:active, .navbar-email:active {
    background-color: oklch(var(--status-color) / .5);
}

.navbar-status, .navbar-email {
    --status-color: var(--theme-main-text-base);
    border: 1px solid oklch(var(--status-color) / 1);
    padding: 10px 15px;
    border-radius: 10px;
    color: oklch(var(--status-color) / 1);
    display: flex;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.navbar-network, .navbar-contact {
    margin-top: 20px;
}

.navbar-status-text, .navbar-email-text {
    margin-left: 10px;
}

.navbar-status-ok {
    --status-color: var(--theme-state-positive-base);
}

.navbar-status-warn {
    --status-color: var(--theme-state-neutral-base);
}

.navbar-status-fail {
    --status-color: var(--theme-state-negative-base);
}

.navbar-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.navbar-stats-item {
    border: 1px solid var(--theme-main-text-07);
    border-radius: 5px;
    padding: 5px 10px;
}
