#status-decoration {
    position: absolute;
    background-image: radial-gradient(circle, oklch(0% 0 0 / 1) 0%, oklch(0% 0 0 / 0) 50%);
    width: 150vh;
    height: 150vh;
    right: -75vh;
    top: -75vh;
    z-index: 0;
}

@media (max-width: 900px) {
    #status-decoration {
        height: 100vh;
    }
}

#status-decoration.status-decoration-ok {
    background-image: radial-gradient(circle, oklch(33.76% 0.18 293.93 / .5) 0%, oklch(33.76% 0.18 293.93 / 0) 50%);
}

#status-decoration.status-decoration-warn {
    background-image: radial-gradient(circle, oklch(72.58% 0.169 20.96 / .5) 0%, oklch(72.58% 0.169 20.96 / 0) 50%);
}

#status-decoration.status-decoration-fail {
    background-image: radial-gradient(circle, oklch(55.39% 0.245 336.05 / .5) 0%, oklch(55.39% 0.245 336.05 / 0) 50%);
}

#status-container {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 58px);
}

#status-overview-icon, .status-stats-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

#status-overview, #status-stats {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-gap: 10px;
}

#status-overview-text-title {
    margin-top: 0;
    margin-bottom: 5px;
}

#status-overview-icon-inner, .status-stats-icon-inner {
    width: 48px;
    height: 48px;
    display: block;
    position: relative;
    top: -2px;
}

#status-affected {
    margin-left: 36px;
    margin-top: 15px;
    padding: 10px 20px;
    border-left: 2px solid oklch(0% 0 0 / 1);
}

.status-overview-ok, .status-affected-ok {
    color: oklch(33.76% 0.18 293.93 / 1);
    border-color: oklch(33.76% 0.18 293.93 / 1) !important;
}

.status-overview-warn, .status-affected-warn {
    color: oklch(72.58% 0.169 20.96 / 1);
    border-color: oklch(72.58% 0.169 20.96 / 1) !important;
}

.status-overview-fail, .status-affected-fail {
    color: oklch(55.39% 0.245 336.05 / 1);
    border-color: oklch(55.39% 0.245 336.05 / 1) !important;
}

#status-affected-list {
    margin-bottom: 0;
}

#status-cta:hover {
    box-shadow: 10px 10px 0 0 rgba(214,172,249,0.25);
    background-color: oklch(80.86% 0.115 308.9 / 1);
    border-color: oklch(80.86% 0.115 308.9 / 1);
    color: oklch(0% 0 0 / 1);
}

#status-cta {
    display: inline-block;
    box-shadow: 0 0 0 0 oklch(80.86% 0.115 308.9 / .25);
    transition: box-shadow 200ms, background-color 200ms, color 200ms, border-color 200ms;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    border: 1px solid oklch(59.2% 0.114 294.97 / 1);
    color: oklch(59.2% 0.114 294.97 / 1);
    width: max-content;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.status-separator {
    margin-top: 20px;
    margin-bottom: 20px;
}

.status-stats-text {
    display: flex;
    align-items: center;
}

.status-stats-text-label {
    text-align: right;
    display: inline-block;
}

.status-stats-text-value {
    display: inline-block;
}

.status-stats-mobile-separator {
    display: none;
}

@media (max-width: 900px) {
    .status-stats-mobile-separator {
        display: block !important;
    }
}

#status-update {
    opacity: .5;
}