#status-decoration {
    position: absolute;
    background-image: radial-gradient(circle, var(--theme-main-text) 0%, var(--theme-main-text-00) 50%);
    width: 150vh;
    height: 150vh;
    right: -75vh;
    top: -75vh;
    z-index: 0;
}

@media (max-width: 900px) {
    #status-decoration {
        height: 100vh;
    }
}

#status-decoration.status-decoration-ok {
    background-image: radial-gradient(circle, var(--theme-state-positive-50) 0%, var(--theme-state-positive-00) 50%);
}

#status-decoration.status-decoration-warn {
    background-image: radial-gradient(circle, var(--theme-state-neutral-50) 0%, var(--theme-state-neutral-00) 50%);
}

#status-decoration.status-decoration-fail {
    background-image: radial-gradient(circle, var(--theme-state-negative-50) 0%, var(--theme-state-negative-00) 50%);
}

#status-container {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 58px);
}

#status-overview-icon, .status-stats-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

#status-overview, #status-stats {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-gap: 10px;
}

#status-overview-text-title {
    margin-top: 0;
    margin-bottom: 5px;
}

#status-overview-icon-inner, .status-stats-icon-inner {
    width: 48px;
    height: 48px;
    display: block;
    position: relative;
    top: -2px;
}

#status-affected {
    margin-left: 36px;
    margin-top: 15px;
    padding: 10px 20px;
    border-left: 2px solid var(--theme-main-text);
}

.status-overview-ok, .status-affected-ok {
    color: var(--theme-state-positive);
    border-color: var(--theme-state-positive) !important;
}

.status-overview-warn, .status-affected-warn {
    color: var(--theme-state-neutral);
    border-color: var(--theme-state-neutral) !important;
}

.status-overview-fail, .status-affected-fail {
    color: var(--theme-state-negative);
    border-color: var(--theme-state-negative) !important;
}

#status-affected-list {
    margin-bottom: 0;
}

#status-cta:hover {
    box-shadow: 10px 10px 0 0 var(--theme-btn-light-25);
    background-color: var(--theme-btn-light);
    border-color: var(--theme-btn-light);
    color: var(--theme-main-text);
}

#status-cta {
    display: inline-block;
    box-shadow: 0 0 0 0 var(--theme-btn-light-25);
    transition: box-shadow 200ms, background-color 200ms, color 200ms, border-color 200ms;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    border: 1px solid var(--theme-btn-hover);
    color: var(--theme-btn-hover);
    width: max-content;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.status-separator {
    margin-top: 20px;
    margin-bottom: 20px;
}

.status-stats-text {
    display: flex;
    align-items: center;
}

.status-stats-text-label {
    text-align: right;
    display: inline-block;
}

.status-stats-text-value {
    display: inline-block;
}

.status-stats-mobile-separator {
    display: none;
}

@media (max-width: 900px) {
    .status-stats-mobile-separator {
        display: block !important;
    }
}

#status-update {
    opacity: .5;
}
